{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- 반복되지 않는 부분 시작 -->
<!-- base.html 에 '반복되지 않는 부분 시작' 바로 밑줄이라고 생각하고 작성할것-->
{% include "post/base.html" %}
<!-- <form action="{% url 'search' %}" method="post">
    {% csrf_token %}

    <input class="d-inline-block align-text-top" id="search_area" type="search" name="keyward" id='keyward'>
    <input class="d-inline-block align-text-top" id="search_btn" type="submit" value="">

    <input type='text' name='username' value="{{user.id}}" style="display: none;">

  </form>
<img src = "{{user.image}}"> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/post_main_style.css' %}">
  <title>Document</title>
</head>

<body>
  <div class="main_search_wrap_wrap">
    <div class="main_search_wrap">
      <form action="" class="main_search_form">
        <input type="text" class="main_search" placeholder="전체 게시판 글을 검색하세요.">
        <input type="button" value="검색">
      </form>
    </div>
  </div>
  <div class="main_main_section">
    <div class="main_left">
      <div class="main_left_header">
        <div class="myImage_wrap">
          <img class="main_user_img" src="../static/img/user.png" alt="">
        </div>
        <div class="myName">{{user.get_full_name}}</div>
        <div class="myInfo_wrap">
          <input class='myinfo' type='button' onclick=location.href="{% url 'settings' %}" value="내정보">
          <input class='logoutbtn' type='button' onclick=location.href="{% url 'logout' %}" value="로그아웃">
        </div>
      </div>
      <div class="main_left_wrap"></div>
      <div class="main_left_main">
        <input class='main_left_main_element' type='button' onclick=location.href="{% url 'my_post' '내가쓴글' %}" value="내가 쓴 글">
        <input class='main_left_main_element' type='button' onclick=location.href="{% url 'my_post' '댓글단글' %}" value="댓글 단 글">
        <input class='main_left_main_element' type='button' onclick=location.href="{% url 'my_post' '스크랩' %}" value="스크랩">
      </div>
    </div>
    <div class="main_center">
      <div class="freeBoard_wrap">
        <div class="freeBoard_title"> 자유게시판</div>
        <div class="freeBoard_area">
          <div class="freeBoard_element">
            <div class="freeBoard_element_img_wrap">
              <img class="freeBoard_element_img" src="../static/img/user.png" alt="">
            </div>
            <div class="freeBoard_element_info_wrap">
              <div class="freeBoard_element_title">그렌디오 반팔티셔츠 중고</div>
              <div class="freeBoard_element_main">그렌디오 반팔티셔츠 중고 실착 3회 미만 2마넌에 팝니다 댓글남겨주시면 쪽지드려..</div>
              <div class="freeBoard_element_footer">
                <div class="freeBoard_element_footer_inner">
                  <div class="likebtn_wrap">
                    <img class='likebtn_img' src="../static/img/like.png" alt="">
                    30
                  </div>
                  <div class="comment_wrap">
                    <img class='comment_img' src="../static/img/comment.png" alt="">
                    30
                  </div>
                  <div class="date_wrap">2022.07.28 19:03:33</div>
                </div>
              </div>
            </div>
          </div>
          <div class="freeBoard_element"></div>
          <div class="freeBoard_element"></div>
        </div>
      </div>
      <div class="purchaseAndSale_wrap">
        <div class="purchaseAndSale_title"> 사고팔고</div>
        <div class="purchaseAndSale_area"></div>
      </div>
    </div>
    <div class="main_right">
      {% include "post/side.html" %}
    </div>
  </div>
</body>

</html>
<!-- 반복되지 않는 부분 끝 -->
{% endblock content %}