{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- 반복되지 않는 부분 시작 -->
<!-- base.html 에 '반복되지 않는 부분 시작' 바로 밑줄이라고 생각하고 작성할것-->

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <link rel="stylesheet" href="{% static 'css/secession_style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/secession_style.css' %}">

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
    <title>open your closet</title>
</head>

<body>
    <header class="comu_header">
        <button class="chat_list_btn">채팅목록</button>
        <button class="my_page_btn">
            <img id='my_page_img' src="{% static 'img/user.png' %}" alt="">
        </button>
        <div class="comu_logo">
            <img id='logo_img' src="{% static 'img/comu_logo.png' %}" alt="">
        </div>
    </header>
    <div class="main_wrap">
        <div class="main_nav">
            <div class="main_nav_col">자유게시판</div>
            <div class="main_nav_col">사고팔고</div>
            <div class="main_nav_col">소통방</div>
            <div class="main_nav_col">공지사항</div>
            <div class="main_nav_col">고객센터</div>
        </div>

        <main>
            <section class="main_section">
                <div class="main_title">OpenYourCloset을 탈퇴하시겠습니까?</div>
                <form action="" class="secession_form" onsubmit="return false;">
                    UserPassword
                    <input type="password" class="userPwd" >
                </form>
                <button class="secession_btn">탈퇴하기</button>
            </section>
            <section class="side_section">
                <div class="side_content">
                    <div class="side_title">실시간게시판</div>
                    <div class="side_content"></div>
                </div>
                <div class="side_content">
                    <div class="side_title">HOT게시판</div>
                    <div class="side_content"></div>
                </div>
            </section>
        </main>
    </div>
    <div class="modal-wrap">
        <div class="modal" id="modaltarget">
            <div class="modal-header">
                <div class="modal-title">OpenYourCloset</div>
                <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                   <div class="modal_row">OpenYourCloset을 정말로 탈퇴하시겠습니까?</div>
                   <div class="modal_row">
                    <button class="modal_btn" id="modal_secession_btn">탈퇴하기</button>
                    <button class="modal_btn" id="modal_return_btn">돌아가기</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/secession.js' %}"></script>
    <script type = "text/javascript">var user_id = "{{user.id}}"</script>
</body>

</html>


<!-- 반복되지 않는 부분 끝 -->
{% endblock content %}